{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="stylesheets/style.css">
{% endblock %}
{% block content %}
<div class="container">
    <h2>{{ title }}</h2>
    <form action="/api/todo/update" method="post" enctype="multipart/form-data">
        <input type="text" name="id" value="{{ item._id }}" style="display:none;">
        <input type="text" name="value" value="{{ item.value }}">
        <button id="editButton" type="submit">Edit</button>
    </form>
<!--    <script src="/javascripts/edit.js"></script>-->
</div>

{% include "chat.html" %}

{% endblock %}