{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="stylesheets/style.css">
{% endblock %}
{% block content %}
<div class="container">
  <h2>{{ title }}</h2>
  <input type="text" id="postInput"><button id="createButton">Add +</button>
  {% for item in list %}
  <div itemid="{{ item._id }}" class="item"><span style="display: inline-block; min-width: 178px; text-overflow: clip;">{{ item.value }}</span>
    <button class="editButton">Edit</button>
    <button class="deleteButton">Delete</button></div>
  {% endfor %}
    <script src="javascripts/index.js"></script>
</div>
{% endblock %}
